.departure-designation {
    border-radius: 4px;
    text-align: center;
    width: 40px;
    margin: 2px;
}
.departure-board td:nth-child(-n+2) {
    min-width: 40px !important;
}

.departure-board .destination-name {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.departure-board td {
    min-width: 70px;
}