<!--
	Use ` | safe` to allow html tages within the text string.
	https://mozilla.github.io/nunjucks/templating.html#autoescaping
-->
<div style="width: 100%;min-width: 268px;max-height: 100%;background-color: #3c4550;display: flex;flex-direction: column;">
  <div style="display:flex; min-height: 23px; margin-bottom: 6px; color: #fff;">
    <span>Linje</span>
    <span>Nästa</span>
    <span>Därefter</span>
    <span>Läge</span>
  </div>
  <table style="color: #f0f8fa;width: 100%;table-layout: fixed;">
    <tbody>
      <tr>
        <td style="text-align: center;width: 60px;padding-right: 2px;">
          <span style="color:#00394d;background-color:#fff014;">2</span>
        </td>
        <td>Högsbotorp</td>
        <td>4</td>
        <td>23</td>
        <td>A</td>
      </tr>
    </tbody>
  </table>
</div>